<a href="https://colab.research.google.com/github/Elvo001/Web-Scraping/blob/main/WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
URL = 'https://en.wikipedia.org/wiki/List_of_largest_banks'
tables = pd.read_html(URL)
df = tables[0]
print(df)

    Rank                                Bank name  \
0      1  Industrial and Commercial Bank of China
1      2               Agricultural Bank of China
2      3                  China Construction Bank
3      4                            Bank of China
4      5                           JPMorgan Chase
..   ...                                      ...
95    96                            Handelsbanken
96    97                 Industrial Bank of Korea
97    98                                      DNB
98    99                      Qatar National Bank
99   100                                 VTB Bank

    Total assets (2023) (US$ billion)
0                             6303.44
1                             5623.12
2                             5400.28
3                             4578.28
4                             3875.39
..                                ...
95                             351.79
96                             345.81
97                             339.21
98                             338.14
99                             326.85

[100 rows x 3 columns]

In [2]:
import pandas as pd
URL = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'
tables = pd.read_html(URL)
df = tables(2) # the required table will have index 2
print(df)

TypeError: 'list' object is not callable

In [3]:
import pandas as pd
URL = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'
tables = pd.read_html(URL)
df = tables[2] # Access the third table (index 2) using square brackets
print(df)

    Country/Territory IMF[1][13]            World Bank[14]             \
    Country/Territory   Forecast       Year       Estimate       Year
0               World  109529216       2024      105435540       2023
1       United States   28781083       2024       27360935       2023
2               China   18532633  [n 1]2024       17794782  [n 3]2023
3             Germany    4591100       2024        4456081       2023
4               Japan    4110452       2024        4212945       2023
..                ...        ...        ...            ...        ...
205          Kiribati        311       2024            279       2023
206             Palau        308       2024            263       2023
207  Marshall Islands        305       2024            284       2023
208             Nauru        161       2024            154       2023
209            Tuvalu         66       2024             62       2023

    United Nations[15]
              Estimate       Year
0            100834796       2022
1             25744100       2022
2             17963170  [n 1]2022
3              4076923       2022
4              4232173       2022
..                 ...        ...
205                223       2022
206                225       2022
207                279       2022
208                147       2022
209                 59       2022

[210 rows x 7 columns]